.c_numeric {
    min-width: 10px;
}

.c_char {
    min-width: 10px;
}

.c_text {
    min-width: 300px;
}

.c_string {
    min-width: 150px;
}

.defaut {
    min-width: 50px;
}

.c_date {
    min-width: 50px;
}
